# Dépendances
node_modules/

# Variables d'environnement (si tu en ajoutes un jour)
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs
.vscode/
.idea/